{% extends './base.html' %}
{% block content %}

    <section class="accueil">
        <div class="container d-flex justify-content-center" style="text-align: center;">
            <div>
                <img src="static/images/TB5.jpg" alt="" width="200px" style="border-radius: 30px;">
                <h1 style="font-size: 40px; color: #fff;">A propos de Trust Business Five</h1>
            </div>
        </div>
    </section>
    <section class="apropos" style="background-color: #2e7d322a;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div style="margin: 10px;">
                        <h3 style="text-align: center; color: #2e7d32; font-size: 35px;">Historique</h3>
                        <p>
                            Le <strong>Trust Business Five Sarl</strong> est une société à responsabilité limitée qui 
                            a été créé le 19 octobre 2018 pour pallier aux insuffisances d'offres 
                            des services de qualité en République Démocratique du Congo et à 
                            l'étranger.
                        </p>
                        <p>
                            Le <strong>Trust Business Five Sarl</strong> offre une gamme étendue des services dans 
                            le domaine de la technologie/informatique général, des énergies et des 
                            énergies renouvelables afin de répondre aux besoins spécifiques de notre 
                            clientèle du secteur municipal et des secteurs industriel, commercial et 
                            institutionnel.
                        </p>
                        <p>
                            Filiale connexe : très sollicité par une clientèle multiple elle a depuis 
                            sa création donnée naissances à quelques filiales installées dans la 
                            République démocratique du Congo pour satisfaire à ces clients.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex justify-content-center">
                        <img src="static/images/DRG.jpg" alt="" width="70%" style="border-radius: 30px; box-shadow: 0 0 6px #2e7d32;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="vision" style="background-color: #2e7d32;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex justify-content-center">
                        <img src="static/images/DGG.jpg" alt="" width="60%" style="border-radius: 30px; box-shadow: 0 0 6px #68a76c;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div style="margin: 10px; color: #fff;">
                        <h3 style="text-align: center; font-size: 35px;">Vision</h3>
                        <p>
                            Le succès par l'entreprenariat et le partenariat. Devenir un chef de file 
                            dans la prestation de service de qualité dans nos domaines d'expertise 
                            disons construction générale, assainissement, environnement, reboisement, 
                            les nouvelles technologies de communication et dans plusieurs autres 
                            domaines.
                        </p>
                        <p>
                            En traitant avec les entités publiques dans le cadre du partenariat public-privé, 
                            et avec les privés; nous visons d'établir des relations solides avec notre 
                            clientèle d'ici 10 ans, devenir une référence en matière de coordination et/ou 
                            d'appui conseil des (aux) activités de reboisement, de gestion de forêts et de 
                            l'environnement, d'assainissement, de construction générale, des nouvelles 
                            technologies de communication et dans d'autres domaines.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="activities">
        <div class="container">
            <h1>Nos activités</h1>
            <div class="row d-flex">
                <div class="col-lg-4">
                    <div class="boxacti">
                        <p><i class="bi bi-clipboard-data"></i></p>
                        <h4>Bureau d'études</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="boxacti">
                        <p><i class="bi bi-briefcase"></i></p>
                        <h4>Facilitation d'affaires</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="boxacti">
                        <p><i class="bi-building"></i></p>
                        <h4>Construction et réhabilitation (Génie civil)</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="boxacti">
                        <p><i class="bi bi-people"></i></p>
                        <h4>
                            Appui conseil dans la coordination des activités
                        </h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="boxacti">
                        <p><i class="bi bi-lightbulb"></i></p>
                        <h4>Innovation en nouvelle technologie-Commerces</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="expert" style="background-color: #2e7d32; color: #fff;">
        <div class="container d-flex justify-content-center">
            <p style="text-align: center;">
                Le <strong>Trust Business Five Sarl</strong> dans l'accomplissement de ses 
                objectifs opérationnels  accompagne plusieurs associations 
                locales dans la  conception des projets, dans la promotion 
                de l'agriculture, le reboisement et l'assainissement des 
                milieux.
            </p>
        </div>
    </section>

{% endblock %}