{% extends './base.html' %}
{% block content %}

    <section class="accueil">
        <div class="container">
            <div class="d-flex flex-column align-items-center mt-5">
                <img class="logo zoom-effect animate" src="{% static 'images/TB5.jpg' %}" alt="">
                <div class="text slideIn mt-3">
                    <h4>
                        Promouvoir un développement durable et inclusif à travers des <br>
                        initiatives entrepreneuriales et des partenariats
                    </h4> <br>
                    <a href="#contact">Contactez-nous</a>
                </div>
            </div>
        </div>
    </section>
   
    <div class="d-none d-lg-flex justify-content-center position-absolute w-100 home-video">
        <video width="500" style="position: absolute;" controls autoplay muted loop playsinline>
            <source src="{% static 'images/tbf_video.mp4' %}" type="video/mp4' %}">
            <p>Your browser does not support the video tag.</p>
        </video>
    </div>

    <section class="about" id="about">
        <div class="container">
            <h1 style="color: black;">Qui sommes nous ?</h1>
            <div class="content">
                <div class="aboutus">
                    <h4>Trust Business Five Sarl</h4>
                    <p class="H-Icone"><i class="bi bi-buildings"></i></p>
                    <p>
                        Trust Business Five est une société <br> 
                        à responsabilité limitée qui a été créé le 19 <br> 
                        octobre 2018 pour pallier aux insuffisances <br>
                        d'offres des services de qualité en <br>
                        République Démocratique du Congo <br>
                        et à l'étranger.
                    </p>
                    <a href="{% url 'home:about' %}">En savoir plus</a>
                </div>
                <div class="ouradress">
                    <h4>Notre adresse</h4>
                    <p class="H-Icone"><i class="bi bi-house-fill"></i></p>
                    <p>
                        Avenue de la Clinique, N¨13 <br>
                        Quartier Batetela, Commune de la Gombe <br><br>
                        <span>E-mail : infos@tbf.org</span>  
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="mission" id="Missions">
        <div class="container">
            <h1>Notre mission</h1>
            <p>
                Notre mission est de promouvoir un développement durable et inclusif à travers des initiatives <br>
                entrepreneuriales et des partenariats stratégiques dans des domaines clés tels que : 
            </p>
            <div class="content">
                <div class="row m-0 contenu">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="item zoom-effect">
                            <img src="{% static 'images/J.jpg' %}" alt="">
                            <h5 class="my-2">La santé Publique</h5>
                            <p style="color: #555;">
                                Nos projets visent à améliorer la santé des communautés <br>
                                tout en protégeant l'environnement.
                            </p>
                            <a href="{% url 'home:devis-form' %}">Demander un devis</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="item zoom-effect">
                            <img src="{% static 'images/K.jpg' %}" alt="">
                            <h5 class="my-2">Le reboisement</h5>
                            <P style="color: #555;">
                                Nous collaborons avec des organisations locales et 
                                internationales pour restaurer les écosystèmes 
                                forestiers.
                            </P>
                            <a href="{% url 'home:devis-form' %}">Demander un devis</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="item zoom-effect">
                            <img src="{% static 'images/I.jpg' %}" alt="">
                            <h5 class="my-2">L'agriculture</h5>
                            <P style="color: #555;">
                                Nous aidons à transformer les pratiques agricoles grâce 
                                à des méthodes innovantes et écologiques.
                            </P>
                            <a href="{% url 'home:devis-form' %}">Demander un devis</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                    <div class="item zoom-effect">
                        <img src="{% static 'images/G.jpg' %}" alt="">
                        <h5 class="my-2">les infrastructures</h5>
                        <P style="color: #555;">
                            Nous soutenons le développement d'infrastructures durables.
                        </P>
                        <a href="{% url 'home:devis-form' %}">Demander un devis</a>
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                    <div class="item zoom-effect">
                        <img src="{% static 'images/M.jpg' %}" alt="">
                        <h5 class="my-2">L'économie</h5>
                        <P style="color: #555;">
                            Nos projets visent à améliorer la santé des communautés <br>
                            tout en protégeant l'environnement.
                        </P>
                        <a href="{% url 'home:devis-form' %}">Demander un devis</a>
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="item zoom-effect">
                            <img src="{% static 'images/B.jpg' %}" alt="">
                            <h5 class="my-2">La gestion des urgences</h5>
                            <P style="color: #555;">
                                Nous offrons des solutions rapides et efficaces pour gérer 
                                les crises humanitaires et environnementales.
                            </P>
                            <a href="{% url 'home:devis-form' %}">Demander un devis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Dirigeans">
        <div class="container" style="padding: 20px 0;">
            <h1 style="text-align: center;">L'équipe dirigeante</h1>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <div class="content" style="background-color: #2e7d32; padding: 20px; text-align: center; border-radius: 10px;">
                        <p style="text-align: center; font-size: 150px;"><img src="{% static 'images/CN.jpg' %}" width="150" alt="" style="border-radius: 50%;"></p>
                        <h6>KABONGO K. ATHYS</h6>
                        <small>Coordonateur National</small>
                        <ul class="d-flex justify-content-center" style="padding-right: 40px">
                            <li style="padding: 10px; list-style: none;"><a href="https://www.facebook.com/share/1hNN5NerQpLUjyrS/?mibextid=LQQJ4d" target="_blank" style="color: #F5F5F5;"><i class="bi bi-facebook"></i></a></li>
                            <li style="padding: 10px; list-style: none;"><a href="#" style="color: #F5F5F5;"><i class="bi bi-twitter"></i></a></li>
                            <li style="padding: 10px; list-style: none;"><a href="https://www.linkedin.com/in/athys-kabongo-821472b5?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BbGoEL5B%2BQzGJCnrOiaErZQ%3D%3D" target="_blank" style="color: #F5F5F5;"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 mb-3">
                    <div class="content" style="background-color: #F5F5F5; padding: 20px; text-align: center; border-radius: 10px;">
                        <p style="text-align: center; font-size: 150px;"><img src="{% static 'images/DG.jpg' %}" width="150" alt="" style="border-radius: 50%;"></p>
                        <h6>MUKENDI M. GIRESSE</h6>
                        <small>Directeur Général</small>
                        <ul class="d-flex justify-content-center text-center" style="padding-right: 40px">
                            <li style="padding: 10px; list-style: none;"><a href="https://www.facebook.com/share/PXm2mbBM5Dnn4k54/?mibextid=LQQJ4d" target="_blank" style="color: #2e7d32;"><i class="bi bi-facebook"></i></a></li>
                            <li style="padding: 10px; list-style: none;"><a href="#" style="color: #2e7d32;"><i class="bi bi-twitter"></i></a></li>
                            <li style="padding: 10px; list-style: none;"><a href="https://www.linkedin.com/in/giresse-mukendi-746408123?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Ba320B3gpRhiC4q1hHLQkeg%3D%3D" target="_blank" style="color: #2e7d32;"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact py-5" id="contact">
        <div class="container">
            <h1>Contactez-nous</h1>
            <div class="row m-0">
                <div class="infos col-12">
                    <div class="row justify-content-between m-0">
                        <div class="col-md-4 mb-2 text-center">
                            <div class="d-flex">
                                <a href="#"><i class="bi bi-house-fill"></i></a> &nbsp;
                                <span> Avenue de la Clinique, N°13
                                    Quartier Batetela, Commune de la Gombe </span>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2 text-center">
                            <a href="mailto:trustbusinessfive@gmail.com"><i class="bi bi-envelope-fill" style="color: #2e7d32;"></i></a>
                            <span>E-mail : infostbf@gmail.com</span>
                        </div>
                        <div class="col-md-4 mb-2 text-center">
                            <a href="tel:+243 81 838 20 27"><i class="bi bi-telephone-fill"></i></a>
                            <span>+243 81 838 20 27</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="sending py-5">
                        <h3 class="mb-3">Envoyez-nous un message</h3>
                        <form action="{% url 'home:addContact' %}" method="post" id="myForm">
                            {% csrf_token %}
                            <input type="text" name="name" id="name" placeholder="Nom">
                            <input type="email" name="email" id="email" placeholder="email">
                            <textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
                            <button type="submit">Envoyer</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="msg">
                        <h3>Commentaires de nos followers</h3>
                        <div class="comment">
                            <div class="contImg">
                                <img src="{% static 'images/ruben.jpg' %}" alt="" style="width: 100px; height: 100px; object-fit: cover;">
                            </div>
                            <div>
                                <h5>Ruben Kayamabla</h5>
                                <p>
                                    Travailler avec Trust Business Five a complètement transformé <br>
                                    notre approche du reboisement. 
                                </p>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="contImg">
                                <img src="{% static 'images/medi.jpg' %}" alt="" style="width: 100px; height: 100px; object-fit: cover;">
                            </div>
                            <div>
                                <h5>Medi Kingura</h5>
                                <p>
                                    La collaboration avec Trust Business Five dans le cadre de la <br>
                                    gestion des urgences a été exemplaire. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}