{% extends './base.html' %}
{% block content %}

    <section class="accueil">
        <div class="container">
            <h1 class="text-center text-white p-2">Nos Programmes</h1>
            <div class="row ecoplus">
                <div class="col-lg-6">
                    <h1>ECO<span>+</span></h1>
                </div>
                <div class="col-lg-6 text">
                    <p>
                        ECO+ est un réseau d'entraide dédié à l'autonomie, à l'emploi, 
                        et à l'entrepreneuriat. Nous proposons des formations et 
                        des ateliers adaptés pour aider chacun à développer ses 
                        compétences et réussir.
                    </p>
                    <p>
                        Rejoignez notre programme et découvrez comment nous pouvons vous aider à réussir.
                    </p>
                    <a href="../Ecole plus website/index.html" class="btn">En savoir plus</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}