{% extends '../home/base.html' %}
{% block content %}

    <section class="accueil addMission">
        <div class="container">
            <div class="row justify-content-center m-0">
                <form method="post" enctype="multipart/form-data" class="bg-white p-3" style="border-radius: 10px; max-width: 40rem;">
                    <h3 class="my-4">Ajouter un domaine</h3>
                    {% csrf_token %}
                    <label for="id_parent" class="d-block mb-3">
                        Domaine
                        <select name="parent" id="id_parent" class="form-control" required>
                            <option value="" selected disabled>Choisissez un domaine</option>
                            <option value="environement">Environement</option>
                            <option value="reboisement">Reboisement et gestion des forêts</option>
                            <option value="agriculture">Agriculture</option>
                            <option value="infrastructure">Infrastructure</option>
                            <option value="economie">Economie</option>
                            <option value="urgence">Urgence et gestion des conflits</option>
                        </select>
                    </label>
                    <label for="id_title" class="d-block mb-3">
                        Titre
                        {{form.title}}
                    </label>
                    <label for="id_image" class="d-block mb-3">
                        Image
                        {{form.image}}
                    </label>
                    <label for="id_detail" class="d-block mb-3">
                        Detail
                        {{form.detail}}
                    </label>
                    <button type="submit" class="btn btn-success">Envoyer</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}