{% extends '../home/base.html' %}
{% block content %}

    <section class="accueil">
        <div class="container">
            <div class="row m-0">
                {% if domaines %}
                    <div class="d-flex align-items-center mb-2">
                        <h3 class="text-white">Nos domaines</h3> &nbsp;&nbsp;
                        <a href="{% url 'home:addDomaine' %}">Ajouter une domaine</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table bg-white" style="border-radius: 10px;">
                            <thead>
                                <th>
                                    <td>Image</td>
                                    <td>Titre</td>
                                    <td>Detail</td>
                                    <td>Description</td>
                                    <td>Actions</td>
                                </th>
                            </thead>
                            <tbody>
                                {% for item in domaines %}
                                <tr>
                                    <td></td>
                                    <td><img src="{{item.image.url}}" width="70" height="50" alt="{{item.title}}"></td>
                                    <td>{{item.title}}</td>
                                    <td style="min-width: 30rem;">{{item.desc}}</td>
                                    <td>
                                        <a href="#" class="btn btn-warning mb-1">Modifier</a>
                                        <a href="#" class="btn btn-danger mb-1">Supprimer</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                <h3 class="text-center text-white mb-3"><i>Aucun domaine enregistré pour l'instant</i></h3>
                <a href="{% url 'home:addDomaine' %}" class="btn btn-success w-50 mx-auto">Ajouter une domaine</a>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}