<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - ECOLE-PLUS</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/eco.css">
</head>
<style>
    /* Styles pour la boîte de dialogue personnalisée */
    .custom-alert,
    .dialogue{
        display: none;
        position: fixed;
        text-align: center;
        width: 500px;
        top: 50%;
        left: 50%;
        border-radius: 20px;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .custom-alert h2,
    .dialogue h2{
        color: #ff0000;
        font-size: 25px;
    }

    .custom-alert button,
    .dialogue button{
        margin-top: 10px;
        padding: 5px 20px;
        border: none;
        border-radius: 5px;
        background-color: #ff0000;
        color: #fff;
        width: 35%;
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
</style>
<body>
    <div class="navbar">
        <div class="container">
            <a href="{% url 'home:ecoplus' %}" style="text-decoration: none;"><h1>ECO<span>+</span></h1></a>
            <ul class="d-none d-lg-flex">
                <li><a href="{% url 'home:ecoplus' %}">Accueil</a></li>
                <li><a href="#about">A propos</a></li>
                <li><a href="#programs">Programmes</a></li>
                <li><a href="#avantages">Avantages</a></li>
                <li><a href="#myForm">Inscription</a></li>
            </ul>
            <div>
                <input type="search" placeholder="Rechercher"><a class="sear" href="#"><i class="bi bi-search"></i></a>
            </div>
        </div>
    </div>

    <div class="overlay" id="overlay"></div>
    <div class="custom-alert" id="customAlert">
        <h2>Notification</h2>
        <hr>
        <p id="alertMessage"></p>
        <button onclick="closeAlert()">OK</button>
    </div>

    <div class="overlay" id="overlay"></div>
    <div class="dialogue" id="dialogue">
        <h2>Notification</h2>
        <hr>
        <p>
            Veuillez vous enregistrer dans le formulaire en bas de la page.
            Cliquez sur OK pour fermer 
        </p>
        <button onclick="fermerBoiteDeDialogue()">OK</button>
    </div>

    <section class="accueil">
        <div class="container">
            <div class="row over">
                <div class="col-lg-6 text">
                    <h1>
                        Rejoignez-nous et transformez votre avenir 
                        grâce à des compétences durables et une 
                        communauté inspirante !
                    </h1>
                    <a href="#inscription" class="start">Commencer</a>
                    <a href="#about" class="know">En savoir plus</a>
                </div>
                <div class="col-lg-6 image">
                    <img src="/static/images/ecoplus/png.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="container">
            <div class="row">
                <img src="/static/images/ecoplus/ECO +.gif" class="col-lg-6" alt="ECO+ gif" style="border-radius: 10px;">
                <div class="col-lg-6">
                    <h5>A propos de <span>ECO+</span></h5>
                    <p>
                        ECO+ est un réseau d'entraide dédié à l'autonomie, à l'emploi, 
                        et à l'entrepreneuriat. Nous proposons des formations et 
                        des ateliers adaptés pour aider chacun à développer ses 
                        compétences et réussir.
                    </p>
                    <p>
                        Rejoignez notre programme et découvrez comment nous pouvons vous aider à réussir.
                    </p>
                    <p>
                        ECO+ est un programme spécial de la <a href="../Index.html">Trust Business Five<i class="bi bi-link-45deg"></i></a>.
                    </p>
                    <a href="{% url 'home:ecoplus' %}" class="btn">En savoir plus</a>
                </div>
            </div>
        </div>
    </section>
    
    <section id="programs" class="text-center my-5">
        <div class="container">
            <h2>Nos Programmes</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="card program-card mb-4" style="height: 450px;">
                        <img src="/static/images/ecoplus/8.jpg" class="card-img-top" alt="Programme 1" style="width: 100%; height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">Métier de Caissier(ère)</h5>
                            <p class="card-text">
                                Cette formation est conçue pour préparer les participants 
                                aux exigences du métier de caissier(ère) dans divers 
                                environnements de vente au détail
                            </p>
                            <a href="#" class="btn" onclick="afficherBoiteDeDialogue()">En savoir plus</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card program-card mb-4" style="height: 450px;">
                        <img src="/static/images/ecoplus/7.jpg" class="card-img-top" alt="Programme 2" style="width: 100%; height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">Anglais Prêt à l'Emploi</h5>
                            <p class="card-text">
                                Cette formation est spécialement conçue pour aider les 
                                participants à maîtriser les compétences linguistiques 
                                nécessaires pour réussir dans un environnement 
                                professionnel</p>
                            <a href="#" class="btn" onclick="afficherBoiteDeDialogue()">En savoir plus</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card program-card mb-4" style="height: 450px;">
                        <img src="/static/images/ecoplus/6.jpg" class="card-img-top" alt="Programme 3" style="width: 100%; height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">Informatique Prêt à l'Emploi</h5>
                            <p class="card-text">
                                Cette formation est conçue pour vous doter des 
                                compétences techniques et pratiques nécessaires pour 
                                exceller dans le monde professionnel numérique
                            </p>
                            <a href="#" class="btn" onclick="afficherBoiteDeDialogue()">En savoir plus</a>
                        </div>
                    </div>
                </div>   

                <div class="col-md-3">
                    <div class="card program-card mb-4" style="height: 450px;">
                        <img src="/static/images/ecoplus/6.jpg" class="card-img-top" alt="Programme 3" style="width: 100%; height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">Programme de réservation</h5>
                            <p class="card-text">
                                Cette formation est conçue pour vous doter des 
                                compétences techniques et pratiques nécessaires pour 
                                exceller dans le monde professionnel numérique
                            </p>
                            <a href="#" class="btn" onclick="afficherBoiteDeDialogue()">En savoir plus</a>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </section>

    <section id="avantages" class="my-5">
        <div class="container">
            <h2>Pourquoi rejoindre ECO+ ?</h2>
            <p>ECO+ vous offre une éducation de qualité avec des programmes adaptés aux besoins du marché.</p>
            <div class="row">
                <div class="points col-lg-8">
                    <ul class="list-unstyled">
                        <li> 
                            <strong><i class="bi bi-check-circle"></i> Formations de qualité :</strong> 
                            Accédez à des cours animés par des experts dans divers domaines.
                        </li>
                        <li>
                            <strong><i class="bi bi-check-circle"></i> Réseau d'entraide :</strong> 
                            Bénéficiez du soutien d'une communauté dynamique et bienveillante.
                        </li>
                        <li>
                            <strong><i class="bi bi-check-circle"></i> Suivi personnalisé :</strong> 
                            Profitez d'un accompagnement adapté à votre projet professionnel.
                        </li>
                    </ul>
                    <p class="text-center mt-4">
                        <strong></strong> 
                        Rejoignez une communauté dynamique et développez vos compétences pour un avenir meilleur.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h2 class="text-center">Témoignages</h2>
                    <div class="temoignages">
                        <div class="testibox">
                            <div class="imgcontent">
                                <img src="/static/images/ecoplus/3.jpg" class="rounded-circle" alt="Marie" style="width: 70px;">
                            </div>
                            <div>
                                <p>
                                    "Grâce à ECO+, j'ai trouvé un emploi qui me passionne <br>
                                    et j'ai développé de nouvelles compétences !"
                                </p>
                                <h6>Marie, participante</h6>
                            </div>
                        </div>
                        <div class="testibox">
                            <div class="imgcontent">
                                <img src="/static/images/ecoplus/1.jpg" class="rounded-circle" alt="Paul" style="width: 70px;">
                            </div>
                            <div>
                                <p>
                                    Une expérience incroyable qui a changé ma vie ! ECO+ <br>
                                    m'a donné les outils nécessaires pour réussir!"
                                </p>
                                <h6>Paul, entrepreneur</h6>
                            </div>
                        </div>
                        <div class="testibox">
                            <div class="imgcontent">
                                <img src="/static/images/ecoplus/2.jpg" class="rounded-circle" alt="Alice" style="width: 70px;">
                            </div>
                            <div>
                                <p>
                                    "J'ai appris tant de choses et je me sens prêt à <br>
                                    affronter le monde !"
                                </p>
                                <h6>Alice, étudiante</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="inscription" id="myForm">
        <div class="container">
            <h2>Prêt à vous lancer ?</h2>
            <p>Inscrivez-vous dès aujourd'hui pour participer à nos prochaines activités !</p>
            <form action="" method="POST" class="bg-light rounded shadow">
                <h2 class="text-center">Inscription</h2>
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name" name="name" required placeholder="Votre réponse">
                </div>
                <div class="form-group">
                    <label for="midname">Post-nom</label>
                    <input type="text" class="form-control" id="midname" name="midname" required placeholder="Votre réponse">
                </div>
                <div class="form-group">
                    <label for="firstname">Prénom</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" required placeholder="Votre réponse">
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse actuelle</label>
                    <input type="text" class="form-control" id="adresse" name="adresse" required placeholder="Votre réponse">
                </div>
                <div class="form-group">
                    <label for="Tel">Numéro de Téléphone</label>
                    <input type="text" class="form-control" id="Tel" name="Tel" required placeholder="Votre réponse">
                </div>
                <div class="form-group">
                    <label for="email">Adresse Email</label>
                    <input type="email" class="form-control" id="email" name="email" required placeholder="exemple@domaine.com">
                </div>
                <div class="form-group">
                    <label for="cours">Formation souhaitée</label> <br>
                    <select name="cours" id="cours">
                        <option value="0"></option>
                        <option value="caissier(ère)">Métier de caissier(ère)</option>
                        <option value="Anglais">Anglais prêt à l'emploi</option>
                        <option value="Informatique">Informatique prêt à l'emploi</option>
                        <option value="Réservation">Programme de réservation</option>
                        <option value="Réservation">Autre</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="vacation">Vacation</label> <br>
                    <select name="vacation" id="vacation">
                        <option value="0"></option>
                        <option value="caissier(ère)">Matin</option>
                        <option value="Anglais">Midi</option>
                        <option value="Informatique">Soir</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="heure">Heure de cours</label> <br>
                    <select name="heure" id="heure">
                        <option value="0"></option>
                        <option value="caissier(ère)">07h-9h</option>
                        <option value="Anglais">9h-12h</option>
                        <option value="Informatique">17h-20h</option>
                    </select>
                </div>
                <button type="submit" class="button">S'inscrire</button>
            </form>
        </div>
    </section>

    <footer class="text-center my-4">
        <p>&copy; 2024 ECOLE-PLUS. Tous droits réservés.</p>
        <nav>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="index.html" style="color: #fff;">Accueil</a></li>
                <li class="list-inline-item"><a href="#about" style="color: #fff;">A propos</a></li>
                <li class="list-inline-item"><a href="#programs" style="color: #fff;">Programmes</a></li>
                <li class="list-inline-item"><a href="#avantages" style="color: #fff;">Avantages</a></li>
                <li class="list-inline-item"><a href="#myForm" style="color: #fff;">Inscription</a></li>
            </ul>
        </nav>
        <div class="social-icons mt-3">
            <a href="#" style="color: #fff;"><img src="/static/images/ecoplus/brave man ok_104331.png" alt="" style="width: 80px;"></i></a>
            <a href="../Index.html" style="color: #fff;"><img src="/static/images/ecoplus/TB5.jpg" alt=""style="width: 80px; margin-left: 20px; border-radius: 10px;"></a>
            <a href="#" style="color: #fff;"><img src="/static/images/ecoplus/GetSkillsClass.png" alt="" style="width: 80px; margin-left: 20px; border-radius: 10px;"></a>
            <a href="#" style="color: #fff;"><img src="/static/images/ecoplus/LOGO (2).png" alt="" style="width: 100px; margin-left: 10px;"></a>
        </div>
    </footer>

    <button onclick="topFunction()" id="myBtn" class="btn btn-primary">&uparrow;</button>

    <script>
        let mybutton = document.getElementById("myBtn");

        //Afficher le bouton retour en haut
        window.onscroll = function(){scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // Lorsque l'utilisateur clique sur le bouton, retour en haut
        function topFunction() {
            document.body.scrollTop = 0; 
            document.documentElement.scrollTop = 0;
        }

        function showMessage(message) {
            message('Merci');
        }

        // Vérification du remplissage des champs et affichage de la boîte de dialogue
        let formToSubmit = null;

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('myForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Empêche l'envoi du formulaire

                let form = event.target;
                let allFilled = true;
                let fields = form.querySelectorAll('input[type="text"], input[type="email"]');

                fields.forEach(function(field) {
                    if (!field.value) {
                        allFilled = false;
                        field.style.borderColor = 'red'; // Met en évidence les champs non remplis
                    } else {
                        field.style.borderColor = ''; // Réinitialise la bordure si le champ est rempli
                    }
                });

                if (allFilled) {
                    formToSubmit = form;
                    showAlert('Bravo ! Nous vous remercions pour votre inscription. \n nous restons ouvert pour toute vos préoccupation. \n Cliquez sur OK pour quitter');
                } else {
                    showAlert('Veuillez remplir tous les champs.');
                }
            });
        });

        function showAlert(message) {
            document.getElementById('alertMessage').innerText = message;
            document.getElementById('customAlert').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        function closeAlert() {
            document.getElementById('customAlert').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
            if (formToSubmit) {
                formToSubmit.submit(); // Soumet le formulaire après la fermeture de l'alerte
                formToSubmit = null;
            }
        }

        // Message pour les utilisateurs non inscrits
        function afficherBoiteDeDialogue() {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('dialogue').style.display = 'block';
        }

        function fermerBoiteDeDialogue() {
            document.getElementById('overlay').style.display = 'none';
            document.getElementById('dialogue').style.display = 'none';
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
