body{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #fcfcfc;
    box-shadow: 0 0 4px rgba(0, 0, 0, .6);
}

.navbar .container{
    display: flex;
    align-items: center;
}

.navbar .container h1{
    color: #ff0000;
    font-family: Poppins;
}

.navbar .container h1 span{
    color: #FFD700;
}

.navbar .container ul{
    display: flex;
}

.navbar .container ul li{
    list-style: none;
    margin-right: 20px;
}

.navbar .container ul li a{
    text-decoration: none;
    color: #ff0000;
}

.navbar .container input{
    background-color: transparent;
    border: 1px solid #ff0000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 6px 20px;
}

.navbar .container input::placeholder{
    color: #ff0000;
}

input:focus{
    outline: none;
    border: none;
}

.navbar .container .sear{
    background-color: #ff0000;
    color: #fff;
    padding: 8px 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.accueil{
    background-color: #ff000009;
    height: 91vh;
}

.accueil .container .row{
    padding: 40px 20px 0 40px;
}

.accueil .container .row h1{
    color: #000;
    margin-top: 200px;
    margin-bottom: 10px;
}

.accueil .container .row a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
}

.accueil .container .row .start{
    background-color: #ff0000;
    color: #fff;
}

.accueil .container .row .know{
    background-color: #fff;
    color: #ff0000;
    border: 1px solid #ff0000;
}

.about .container{
    padding: 40px 0;
}

.about .container .row div{
    padding: 20px 50px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.about .container .row div h5{
    font-size: 30px;
    text-align: center;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about .container .row div h5 span{
    color: #ff0000;
}

.about .container .row div p{
    font-size: 18px;
    color: #000;
}

.about .container .row div p a{
    text-decoration: none;
    color: #2e7d32;
}

.about .container .row div .btn{
    background-color: #ff0000;
    color: #fff;
}

#programs{
    background-color: #ff000009;
}

#programs .container{
    padding: 20px 0;
    text-align: center;
}

#programs .container h2{
    color: #000;
    margin-bottom: 30px;
}

#programs .container .row div .btn{
    background-color: #ff0000;
    color: #fff;
}

#avantages .container{
    color: #000;
}

#avantages .container h2{
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

#avantages .container p{
    text-align: center;
    color: #000;
}

#avantages .container .row{
    display: flex;
    align-items: center;
}

#avantages .container .row div ul li{
    color: #000;
    font-size: 20px;
}

#avantages .container .row div ul li strong{
    font-size: 25px;
}

#avantages .container .row div ul li i{
    color: #00ff0d;
}

#avantages .container .row div .temoignages{
    display: flex;
    flex-direction: column;
}

#avantages .container .row div .temoignages .testibox{
    display: flex;
    background-color: #ff0000d0;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

#avantages .container .row div .temoignages .testibox .imgcontent{
    width: 23%;
}

#avantages .container .row div .temoignages .testibox p{
    color: #fff;
    text-align: left;
    font-size: 12px;
}

#avantages .container .row div .temoignages .testibox h6{
    color: #fff;
}

.inscription{
    background-color: #ff000009;
}

.inscription .container{
    padding: 20px 0;
}

.inscription .container h2{
    text-align: center;
    color: #000;
}

.inscription .container p{
    text-align: center;
}

.inscription .container form{
    width: 60%;
    margin-left: 255px;
    padding: 10px 100px;
}

.inscription .container form input,
.inscription .container form select,
.inscription .container form .button{
    width: 100%;
    margin-bottom: 15px;
}

.inscription .container .button{
    border: none;
    color: #fff;
    background-color: #ff0000;
    padding: 8px 20px;
    border-radius: 5px;
}

footer{
    background-color: #111111;
    padding: 30px 0;
    margin-bottom: 0;
}

footer p{
    color: #f5f5f5;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
}
#myBtn:hover{
    background-color: #ff0000;
}
