body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar{
    background-color: #5aaa0f;
}

.navbar .menu-icon { 
    display: none;
    color: #fff;
    font-size: 25px; 
    cursor: pointer;
}

.navbar .menu-list{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 0; 
    margin: 0;
}

.navbar .menu-list li{
    list-style: none;
    margin: 10px;
}

.navbar .menu-list li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.accueil{
    background-color: #5aaa0f1e;
}

.accueil .container{
    padding: 85px 0;
}

.accueil .container h1{
    color: #5aaa0f;
    margin: 10px;
}

.accueil .container p{
    color: #000;
}

.accueil .container a{
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 3px;
    border: 1px solid #5aaa0f;
    transition: .5s;
}

.accueil .container .loginlink{
    background-color: #5aaa0f;
    color: #fff;
}

.accueil .container .loginlink:hover{
    background: transparent;
    color: #5aaa0f;
}

.accueil .container .contactlink{
    background: transparent;
    color: #5aaa0f;
}

.accueil .container .contactlink:hover{
    background-color: #5aaa0f;
    color: #fff;
}

.programmes{
    background-color: #5aaa0f;
    color: #fff;
}

.programmes .container{
    padding: 40px 0;
}

.programmes .container h1{
    text-align: center;
}

.programmes .container p{
    text-align: center;
}

.programmes .container .boxday{
    min-height: 260px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #ffffff28;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pratique{
    background-color: #5aaa0f1e;
}

.pratique .container{
    padding: 40px 0;
}

.pratique .container h1{
    text-align: center;
    color: #5aaa0f;
}

.pratique .container p{
    text-align: center;
    color: #000;
}

.pratique .container .boxday{
    min-height: 220px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #5aaa0f11;
    color: #5aaa0f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    height: 60vh;
    overflow-x: scroll;
}

.gallery-item {
    position: relative;
    width: 30%;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    flex: 0 0 auto;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5aaa0f9d;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact{
    background-color: #5aaa0f;
}

.contact .container{
    padding: 50px 0;
}

.contact .container .content{
    background-color: #ffffff27;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact .container h1{
    text-align: center;
    color: #fff;
}

.contact .container p{
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}

.inscription{
    background-color: #5aaa0f1e;
}

.inscription .container{
    padding: 40px 0;
}

.inscription .container .formbox{
    background-color: #5aaa0f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 20px;
}

.inscription .container .formbox h3{
    text-align: center;
    color: #fff;
}

.inscription .container .formbox .inputbox{
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}

.inscription .container .formbox .inputbox label{
    color: #fff;
}

.inscription .container .formbox .inputbox input{
    width: 100%;
    border: none;
    background-color: transparent;
    color: #fff;
    outline: none;
}

.inscription .container .formbox button{
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    color: #5aaa0f;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px){
    .accueil img{
        display: none;
    }
}
@media (max-width: 768px) { 
    .navbar .menu-icon { 
        display: block; 
    } 
    .navbar .menu-list { 
        display: none; 
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    } 
    .navbar .menu-list li { 
        margin: 5px 0; 
    } 
    .navbar .menu-list.active { 
        display: flex; 
    }
}
