html, body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Barre de navigation */
.navbar{
    box-shadow: 0 0 4px rgba(0, 0, 0, .6);
}

.navbar{
    align-items: center;
}

.navbar img{
    width: 80px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #555;
    margin-top: 20px;
    font-weight: normal;
    padding: 5px 15px;
}

.navbar ul li a:hover{
    text-decoration: none;
    background-color: #2e7d32;
    margin-top: 20px;
    color: #fff;
}

.dropdown{
    position: relative;
}

.dropdown .dropdown-menu{
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
    flex-direction: column;
    position: absolute;
    width: 200px;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.dropdown-menu li{
    padding: 8px 16px;
}

.dropdown-menu li:hover{
    background-color: #f5f5f5;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.navbar input{
    background-color: transparent;
    border: 1px solid #2e7d32;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px 10px;
    outline: none;
}

.navbar input::placeholder{
    color: #2e7d32;
}

.navbar .sear{
    background-color: #2e7d32;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Accueil */
.accueil{
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.26);
}

.accueil .container{
    padding: 5px 0;
}

.accueil .logo{
    width: 35%;
    border-radius: 40px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.accueil .logo.animate{
    opacity: 1;
}

.animate{
    animation: fadeInUp 1.5s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.accueil .text{
    animation: slide 2s forwards;
}

.accueil .text {
    /* font-size: 30px; */
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.accueil .text a{
    text-decoration: none;
    color: #fff;
    background-color: #2e7d32;
    padding: 10px 20px;
    border-radius: 10px;
}

.accueil .text a:hover{
    background-color: #266829;
}

/* La section About */
.about .container h1{
    text-align: center;
    font-size: 40px;
    color: #000;
    margin-top: 35px;
    margin-bottom: 35px;
}

.about .container .content{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .about .container .content{
        flex-direction: column;
    }
}

.about .container .content .aboutus{
    text-align: center;
    background-color: #2e7d32;
    padding: 20px;
    height: 75vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.about .container .content .aboutus h4{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}

.about .container .content .aboutus .H-Icone{
    font-size: 70px;
    color: #FF9800;
}

.about .container .content .aboutus p{
    text-align: center;
    color: #f5f5f5;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about .container .content .aboutus a{
    background-color: #FF9800;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.about .container .content .aboutus a:hover{
    background-color: #e78b00;
}

.about .container .content .ouradress{
    text-align: center;
    padding: 50px 20px;
    background-color: #f5f5f5;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.about .container .content .ouradress h4{
    font-size: 35px;
    color: #000;
}

.about .container .content .ouradress .H-Icone{
    font-size: 70px;
    color: #2e7d32;
}

.about .container .content .ouradress p{
    font-size: 20px;
    color: #000;
}

.about .container .content .ouradress p span{
    background-color: #2e7d32;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

/* Section mission */
.mission{
    margin-top: 85px;
    background-color: #2e7d32;
}

.mission .container{
    padding: 20px 0;
}

.mission .container h1{
    text-align: center;
    color: #fff;
    font-size: 35px;
}

.mission .container p{
    text-align: center;
    color: #fff;
}

.mission .container .content .contenu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mission .container .content .contenu .item{
    background-color: #fff;
    /* width: 430px;
    height: 360px; */
    padding: 10px;
    border-radius: 5px;
}


.mission .container .content .contenu img{
    width: 100%;
    height: 200px;
    border-radius: 3px;
}

.mission .container .content .contenu h4{
    color: #000;
}

.mission .container .content .contenu a{
    text-decoration: none;
    color: #fff;
    background-color: #FF9800;
    padding: 5px 10px;
    border-radius: 3px;
}

.mission .container .content .contenu a:hover{
    background-color: #e78b00;
}

/* Section Contact */
.contact .container{
    padding: 20px 0;
}

.contact .container h1{
    text-align: center;
    color: #000;
}

.contact .container .row{
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 20px;
}

.contact .container .infos{
    display: flex;
    justify-content: space-around;
}

.contact .container .infos p{
    text-align: center;
}

.contact .container .infos p i{
    font-size: 45px;
    color: #FF9800;
}

.contact .container .sending{
    background-color: #2e7d32;
    padding: 50px;
    height: 45vh;
}

.contact .container .sending h3{
    text-align: center;
    color: #fff;
}

.contact .container .sending form{
    display: flex;
    flex-direction: column;
}

.contact .container .sending form input,
.contact .container .sending form textarea{
    margin-bottom: 15px;
}

.contact .container .sending form input,
.contact .container .sending form textarea{
    background: none;
    border: none;
    border-bottom: 1px solid #FF9800;
}

::placeholder{
    color: #f5f5f5;
}

.contact .container .sending form button{
    border: none;
    border-radius: 3px;
    background-color: #FF9800;
    color: #fff;
    width: 60%;
    margin-left: 100px;
    padding: 8px 10px;
}

.contact .container .sending form button:hover{
    background-color: #e78b00;
}

.contact .container .msg{
    padding: 50px;
}

.contact .container .msg h3{
    text-align: center;
    color: #000;
}

.contact .container .msg .comment{
    background-color: #ebebeb;
    padding: 20px;
    width: 88%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-left: 30px;
    border-radius: 20px;
}

.contact .container .msg .comment .contImg{
    border: 2px solid #2e7d32;
    border-radius: 50%;
    overflow: hidden;
}

.contact .container .msg .comment .profil{
    font-size: 50px;
}

.contact .container .msg .comment div h5{
    font-size: 16px;
}

.contact .container .msg .comment div p{
    font-size: 10px;
}

.contact .voil{
    background-color: #fff;
    width: 300px;
    height: 500px;
    position: absolute;
    margin-left: 650px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 30px;
}

.contact .voil h4{
    margin-top: 30px;
    text-align: center;
}

/* Avant_footer */
.prefooter{
    background-color: #333;
    height: 60vh;
    padding: 0;
}

.prefooter .services div ul li{
    color: #f5f5f5;
    font-size: 16px;
}

.prefooter .bref p{
    color: #f5f5f5;
    font-size: 16px;
}

.prefooter .bref a{
    text-decoration: none;
    color: #fff;
    background-color: #FF9800;
    padding: 5px 10px;
    border-radius: 3px;
}

.prefooter .bref a:hover{
    background-color: #e78b00;
}

.custom-alert {
    display: none;
    position: fixed;
    text-align: center;
    width: 500px;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.custom-alert h2{
    color: #000;
    font-size: 25px;
}

.custom-alert button {
    margin-top: 10px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2e7d32;
    color: #fff;
    width: 35%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Pied de page */
footer{
    background-color: #333;
}

footer .container{
    padding: 10px;
}

footer .container .menu-list{
    margin-left: 350px;
    display: flex;
}

footer .container ul li{
    list-style: none;
    margin-right: 20px;
}

footer .container ul li a{
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
}

footer .container .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .container .content a{
    margin-right: 10px;
}

footer .container .content a img{
    margin-top: -18px;
}

footer .container .partainers{
    display: flex;
}

footer .container .partainers p{
    color: #f5f5f5;
    font-size: 30px;
    margin-right: 10px;
}

footer .container .content img{
    width: 100px;
    border-radius: 10px;
}

hr{
    color: #9b9b9b;
}

footer .container .TDR{
    text-align: center;
    color: #f5f5f5;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #FF9800;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
}
#myBtn:hover{
    background-color: #e78b00;
}
