{% extends '../home/base.html' %}
{% block content %}

    <section class="mission-single">
        <div class="container">
            <!-- <h1>Santé publique</h1> -->
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <div class="boxcontainer">
                        <h5>Mission1</h5>
                        <div class="d-flex justify-content-center">
                            <img src="../static/images/G.jpg" alt="" width="100%">
                        </div>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Corporis, consequatur repellat eius quos voluptatem temporibus 
                            a omnis? Voluptates aliquid nulla rem inventore, architecto 
                            voluptate rerum, aspernatur molestias expedita beatae deserunt!
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 mb-3">
                    <div class="boxcontainer">
                        <h5>Mission2</h5>
                        <div class="d-flex justify-content-center">
                            <img src="../static/images/G.jpg" alt="" width="100%">
                        </div>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Corporis, consequatur repellat eius quos voluptatem temporibus 
                            a omnis? Voluptates aliquid nulla rem inventore, architecto 
                            voluptate rerum, aspernatur molestias expedita beatae deserunt!
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 mb-3">
                    <div class="boxcontainer">
                        <h5>Mission3</h5>
                        <div class="d-flex justify-content-center">
                            <img src="../static/images/G.jpg" alt="" width="100%">
                        </div>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Corporis, consequatur repellat eius quos voluptatem temporibus 
                            a omnis? Voluptates aliquid nulla rem inventore, architecto 
                            voluptate rerum, aspernatur molestias expedita beatae deserunt!
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 mb-3">
                    <div class="boxcontainer">
                        <h5>Mission4</h5>
                        <div class="d-flex justify-content-center">
                            <img src="../static/images/G.jpg" alt="" width="100%">
                        </div>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Corporis, consequatur repellat eius quos voluptatem temporibus 
                            a omnis? Voluptates aliquid nulla rem inventore, architecto 
                            voluptate rerum, aspernatur molestias expedita beatae deserunt!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}