html, body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Style commun */
.zoom-effect:hover{
    transform: scale(1.05);
    transition: all 500ms;
}

section{
    padding: 40px 3%;
}

section h1{
    padding: 40px;
}

@media screen and (max-width: 992px) {
    section{
        padding: 12px 3%;
    }
    
    section h1{
        padding: 15px;
    }
}

/* Barre de navigation */
.navbar{
    box-shadow: 0 0 4px rgba(0, 0, 0, .6);
}

.navbar{
    align-items: center;
    padding: 0px 5%;
}

.navbar img{
    width: 80px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #555;
    margin-top: 20px;
    font-weight: normal;
    padding: 5px 15px;
    font-size: 0.8rem;
}

.navbar ul li a:hover{
    text-decoration: none;
    background-color: #2e7d32;
    margin-top: 20px;
    color: #fff;
}

.dropdown{
    position: relative;
}

.dropdown .dropdown-menu{
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
    flex-direction: column;
    position: absolute;
    width: 200px;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.dropdown-menu li{
    padding: 8px 16px;
}

.dropdown-menu li:hover{
    background-color: #f5f5f5;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.navbar input{
    background-color: transparent;
    border: 1px solid #2e7d32;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1px 7px;
    outline: none;
    max-width: 150px;
}

.navbar input::placeholder{
    color: #2e7d32;
    font-size: 0.8rem;
}

.navbar .sear{
    background-color: #2e7d32;
    color: #fff;
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Menu responsive */
.show-menu{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: all 300ms;
    background-color: rgba(0, 0, 0, 0.1);
}
.hide-menu{
    position: fixed;
    left: -100%;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    transition: all 300ms;
    background-color: rgba(0, 0, 0, 0.1);
}
.show-menu .nav, .hide-menu .nav{
    position: inherit;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    height: 100%;
    padding-top: 50px;
}
.show-menu .nav li a, .hide-menu .nav li a{
    display: block;
    padding: 10px;
    margin-top: 0px;
    font-size: 1rem;
}


/* Accueil */
.accueil{
    background-image: url("../images/H.1761c483493b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.26);
    min-height: 50vh;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil .container{
    padding: 5px 0;
}

.accueil .logo{
    width: 25%;
    border-radius: 40px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.accueil .logo.animate{
    opacity: 1;
}

.animate{
    animation: fadeInUp 1.5s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.accueil .text{
    animation: slide 2s forwards;
}

.accueil .text {
    /* font-size: 30px; */
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.accueil .text a{
    text-decoration: none;
    color: #fff;
    background-color: #2e7d32;
    padding: 10px 20px;
    border-radius: 10px;
}

.accueil .text a:hover{
    background-color: #266829;
}

.home-video {
    margin-top: -30px;
}

.home-video video {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
}

/* La section About */
.about {
    margin-top: 100px;
}

.about .container h1{
    text-align: center;
    font-size: 0px;
    color: #000;
    margin-top: 35px;
    margin-bottom: 35px;
}

.about .container .content{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .about .container .content{
        flex-direction: column;
    }
}

.about .container .content .aboutus{
    text-align: center;
    background-color: #2e7d32;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 200ms;
}

@media screen and (max-width: 992px) {
    .about .container .content .aboutus{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 15px;
    }

    .about .container .content .ouradress{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 15px;
    }
}

.about .container .content .aboutus:hover{
    transform: scale(1.1);
    transition: all 200ms;
}

.about .container .content .aboutus h4{
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
    transition: all 200ms;
}

.about .container .content .aboutus .H-Icone{
    font-size: 70px;
    color: #FF9800;
}

.about .container .content .aboutus p{
    text-align: center;
    color: #f5f5f5;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.about .container .content .aboutus a{
    background-color: #FF9800;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 0.7rem;
}

.about .container .content .aboutus a:hover{
    background-color: #e78b00;
}

.about .container .content .ouradress{
    text-align: center;
    padding: 50px 20px;
    background-color: #f5f5f5;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 200ms;
}
.about .container .content .ouradress:hover{
    transform: scale(1.1);
    transition: all 200ms;
}

.about .container .content .ouradress h4{
    font-size: 1.4rem;
    color: #000;
    transition: all 200ms;
}

.about .container .content .ouradress .H-Icone{
    font-size: 70px;
    color: #2e7d32;
}

.about .container .content .ouradress p{
    font-size: 0.9rem;
    color: #000;
}

.about .container .content .ouradress p span{
    background-color: #2e7d32;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
}

/* Section mission */
.mission{
    margin-top: 85px;
    background-color: #2e7d32;
}

.mission .container{
    padding: 20px 0;
}

.mission .content .item{
    transition: all 500ms;
    text-align: center;
}

.mission .container h1{
    text-align: center;
    color: #fff;
    font-size: 35px;
}

.mission .container p{
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}

.mission .container .content .contenu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mission .container .content .contenu .item{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}


.mission .container .content .contenu img{
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 3px;
}

.mission .container .content .contenu h4{
    color: #000;
}

.mission .container .content .contenu a{
    text-decoration: none;
    color: #fff;
    background-color: #FF9800;
    padding: 5px 10px;
    border-radius: 3px;
}

.mission .container .content .contenu a:hover{
    background-color: #e78b00;
}

/* Section Contact */
.contact .container{
    padding: 20px 0;
}

.contact .container h1{
    text-align: center;
    color: #000;
}

.contact .container .row{
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 20px;
}

.contact .container .infos{
    display: flex;
    justify-content: space-around;
}

.contact .container .infos p{
    text-align: center;
}

.contact .container .infos p i{
    font-size: 45px;
    color: #FF9800;
}

.contact .container .sending{
    background-color: #2e7d32;
    padding: 20px;
}

.contact .container .sending h3{
    text-align: center;
    color: #fff;
}

.contact .container .sending form{
    display: flex;
    flex-direction: column;
}

.contact .container .sending form input,
.contact .container .sending form textarea{
    margin-bottom: 30px;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #FF9800;
    color: #fff;
}

::placeholder{
    color: #bbb;
}

.contact .container .sending form button{
    border: none;
    border-radius: 3px;
    background-color: #FF9800;
    color: #fff;
    width: 60%;
    margin-left: 100px;
    padding: 8px 10px;
}

.contact .container .sending form button:hover{
    background-color: #e78b00;
}

.contact .container .msg{
    padding: 50px 0px;
}

.contact .container .msg h3{
    text-align: center;
    color: #000;
}

.contact .container .msg .comment{
    background-color: #ebebeb;
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    
}

.contact .container .msg .comment > div{
    display: inline-block;
}

.contact .container .msg .comment .contImg{
    border: 2px solid #2e7d32;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.contact .container .msg .comment .profil{
    font-size: 50px;
}

.contact .container .msg .comment div h5{
    font-size: 16px;
}

.contact .container .msg .comment div p{
    font-size: 10px;
}

.contact .container .infos a i{
    font-size: 1.7rem;
}

.voil{
    background-color: #fff;
    width: 300px;   
    position: absolute;
    margin-left: 37%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0px 10px;
}

.voil h4{
    margin-top: 15px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .voil{
        position: static;
        background-color: #fff;
        width: 100%;
        border-radius: 0%;
        margin: 0%;
        padding: 0% 10%;
        text-align: center;
    }

    .voil > div{
        display: inline-block;
    }
    .voil{
        position: static;
        background-color: #fff;
        width: 100%;
        border-radius: 0%;
        padding: 0px;
        margin: 0%;
    }
}

/* Avant_footer */
.prefooter{
    background-color: #333;
    padding: 0;
}

.prefooter .services div ul li{
    color: #f5f5f5;
    font-size: 0.9rem;
}

.prefooter .bref p{
    color: #f5f5f5;
    font-size: 0.9rem;
}

.prefooter .bref a{
    text-decoration: none;
    color: #fff;
    background-color: #FF9800;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.8rem;
}

.prefooter .bref a:hover{
    background-color: #e78b00;
}

.custom-alert {
    display: none;
    position: fixed;
    text-align: center;
    width: 500px;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.custom-alert h2{
    color: #000;
    font-size: 25px;
}

.custom-alert button {
    margin-top: 10px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2e7d32;
    color: #fff;
    width: 35%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


/* Page Eco+ */
.accueil .container .ecoplus{
    background-color: #fff;
    width: 70%;
    padding: 20px 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    margin-top: 30px;
}

.accueil .container .ecoplus h1{
    color: #ff0000;
    font-family: Poppins;
    font-size: 100px;
}

@media screen and (max-width: 756px) {
    .accueil .container .ecoplus{
        padding: 0px;
    }

    .accueil .container .ecoplus h1{
        color: #ff0000;
        font-family: Poppins;
        font-size: 50px;
    }
}

.accueil .container h1 span{
    color: #FFD700;
}

/* .accueil .container .ecoplus .text{
    padding: 20px;
} */

.accueil .container .ecoplus .text .btn{
    background-color: #2e7d32;
    color: #fff;
}

.accueil .container .ecoplus p{
    color: #000;
    text-align: left;
}



/* Pied de page */
footer{
    background-color: #333;
}

footer .container{
    padding: 10px;
}

footer .container .menu-list{
    display: flex;
    justify-content: center;
}

footer .container ul li{
    list-style: none;
    margin-right: 20px;
}

footer .container ul li a{
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
}

footer .container .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .container .content a{
    margin-right: 10px;
}

footer .container .content a img{
    margin-top: -18px;
}

footer .container .partainers{
    display: flex;
}

footer .container .content img{
    width: 50px;
    border-radius: 10px;
}

footer .container .partainers p{
    color: #f5f5f5;
    font-size: 1.1rem;
    margin-right: 10px;
}

footer .container .social{
    display: flex;
    align-items: center;
}

footer .container .social a i, footer .container .social a img{
    font-size: 1.1rem;
}

hr{
    color: #9b9b9b;
}

footer .container .TDR{
    text-align: center;
    color: #f5f5f5;
}


/* About pages */
.activities{
    background-color: #2e7d3209;
}

.activities .container h1{
    text-align: center;
    color: #2e7d32;
    font-size: 35px;
}

.boxacti{
    box-shadow: 0 0 5px #11ff1d;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.boxacti h4{
    font-size: 12px;
    font-weight: 800;
}

.boxacti p i{
    color: #2e7d32;
    font-size: 45px;
}

@media screen and (max-width: 992px) {
    .accueil div img{
        width: 160px;
    }

    .accueil h1{
        font-size: 25px;
    }
}


.addMission input, .addMission textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid #aaa;
    border-radius: 8px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #FF9800;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
}
#myBtn:hover{
    background-color: #e78b00;
}

.mission-single {
    background-image: url("../images/H.1761c483493b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mission-single .boxcontainer {
    background-color: #fff;
    text-align: center;
    padding: 20px 30px;
    border-radius: 30px;
}

.mission-single .boxcontainer h5 {
    text-align: center;
    color: #000;
    font-weight: bold;
}


.mission-single .boxcontainer p {
    margin-top: 2%;
    text-align: left;
}