{% extends '../home/base.html' %}
{% block content %}

    <section class="domaine">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="whiteBox">
                        <h1 class="p-1">Reboisement et gestion des forêts</h1>
                        <img src="/static/images/T.jpg" alt="" style="width: 100%; height: 80%;">
                        <h3>Entrepreneuriat et partenariat dans la promotion du reboisement et de la gestion des forêts</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="greenBox">
                        <p>
                            Conscients des défis liés à la déforestation et aux changements 
                            climatiques, nous travaillons en collaboration avec des 
                            organisations locales et internationales pour restaurer les 
                            écosystèmes forestiers, tout en promouvant une gestion durable 
                            des ressources. Nos projets de reboisement sont conçus pour avoir 
                            un impact durable, en favorisant la biodiversité et la 
                            séquestration du carbone.
                        </p>
                        <a href="{% url 'home:home' %}#contact">Contactez-nous</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}