{% extends '../home/base.html' %}
{% block content %}

    <section class="domaine">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="whiteBox">
                        <h1 class="p-1">Urgence et gestion des confits</h1>
                        <img src="/static/images/S.jpeg" alt="" style="width: 100%; height: 80%;">
                        <h3>Entrepreneuriat et partenariat dans la gestion des urgences et des conflits</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="greenBox">
                        <p>
                            Nous intervenons également dans les situations d'urgence, 
                            en fournissant des solutions rapides et efficaces pour la 
                            gestion des crises humanitaires et environnementales. En 
                            partenariat avec des organisations humanitaires, nous offrons 
                            des services de gestion des conflits et des catastrophes afin 
                            de réduire les impacts sur les communautés vulnérables.
                        </p>
                        <a href="{% url 'home:home' %}#contact">Contactez-nous</a>
                    </div>
                </div>
            </div>
            {% if domaines %}
            <hr>
            <div class="row">
                {% for domaine in domaines %}
                <div class="col-lg-6">
                    <div class="row bg-white m-1 p-2" style="border-radius: 10px;">
                        <div class="col-3">
                            <img src="{{domaine.image.url}}" style="width: 130px; height: 130px; object-fit: cover;margin-right: 10px;" alt="">
                        </div>
                        <div class="col-9">
                            <p class="m-0">{{domaine.detail}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
    
{% endblock %}